html{
  font-size: 22px;
}
h1{
 font-size: 60px;
}
footer{
  font-size: 22px;
}
.hebergement {
    display: flex;
    flex-direction: column;
}

#product-list {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background: #f5f5f5 !important;
}

.product-result {
    width: auto;
    background: #f5f5f5 !important;
}

.hebergement div {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    width: 100%;
}

#activites-list {
    display: flex;
    margin: 30px 0px;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
}

#activites-product_type1 , #activites-product_type2 , #activites-product_type3{
margin: 20px;
width: 700px;
    height: 380px;

}

#activites-list #caption {
  padding: 20px  25px;
font-size: 23px!important;
}



footer {
    display: flex;
    justify-content: flex-start;
    background-color: #f5f5f5;
    padding-bottom: 30px;
    flex-direction: column;
}

.Search {
      padding-top: 85px;
    text-align: left;
    margin: 30px;
}

#filtre {
    margin: 50px 30px;
    display: flex;
    font-size: 35px;
    flex-wrap: wrap;
}


#product {
    width: 75%;
    height: 360px;
   border: solid 10px white;
  }

  #caption {
      margin-top: 240px;
      font-size: 1.05em;
}

#trending-product {
    height: 215px;
}

#trending-product #caption {
    right: -250px;
    height: 210px;
}

#trending-product i {
    margin-top: 45px;
}

#product #caption p , h3{
  margin: 10px;
}

.activites h2{
      margin-left: 9%;
      font-size: 22px;
}

.logo {
    padding-top: 0px;
    margin: 30px;
    width: 260px;
    margin-top: 12px;
}
.info {
  margin: 20px;
  font-size: 15px;
}

#mobnav-sign{
  top: 35px;
    right: 0;
    position: absolute;
    font-weight: 700;
    color: #2b5cfb;
    border-bottom: none;
    width: auto;
}
#mobnav-sign li{
border-bottom: none;
}

.navbar{
  width: 103%;
margin-right: -40px;
  justify-content: center;
  font-size: 40px;
}

.navbar li{
  border-bottom: solid 4px #cccaca;
  transition: all 500ms;
  border-top: none;
  width: 50%;
  text-align: center;
  }
  .navbar li:hover{
    border-bottom: outset 4px #2b5cfb;
    color: #2b5cfb;
    border-top: none;
  }

  .tags {
    margin: 5px;
    border: 1px solid #cccaca;
    border-radius: 0px 100px 100px 0px;
    padding: 25px 30px 25px 50px;
    border-left: none;
    font-weight: 600;
}

.tag-component i {
  color: #0065fc;
  background-color: #0065fc38;
  padding: 30px;
  margin-right: -37px;
  border-radius: 59px;
}
#spe{
  padding: 30px 40px;
}

input , button{
    font-size: 47px;
    margin: 65px 0px;
    padding: 35px 35px!important;
}

.searchbar {
    border: solid 1px #cccaca;
    border-right: none;
    border-left: none;
    padding: 10px 5px;
    font-weight: 600;
}
.map{
  border: 1px solid #cccaca;
  background-color: #f5f5f5;
border-radius: 20px 0px 0px 25px;
margin-right: -5px;
}

.bouton {
    border: solid 1px #0065fc;
    border-left: none;
    padding: 10px 10px;
    margin-left: -5px;
    color: white;
    background-color: #0065fc;
    border-radius: 20px 20px 20px 20px;
}

#filtre p{
    position: absolute;
    margin-top: -60px;
    font-weight: 700;
}

.product-result h2, .trending h2 {
    margin-left: 5%;
    margin-bottom: 30px!important;
    font-size: 40px;
    margin-bottom: 5px;
}

a.afficher {
    font-size: 30px;
    font-weight: 700;
    margin: 115px;
}

footer {
    font-size: 23px;
    width: 100%;
    padding: 25px;
}

.footer-list li {
    list-style: none;
    margin: 30px 10px 30px 0px;
}
