.hebergement div {
    margin: 10px;
}
.caption {
    padding: 5px!important;
    margin-top: 80px!important;
    height: 75px;
    font-size: 0.7em!important;
}

html{
  padding: 20px;
}

.product {
    width: 27%;}

    .trending-product {
        background-color: white;
        border-radius: 20px;
        width: 1000%!important;
        padding: 0px!important;
        overflow: hidden;
        position: relative;
        border: solid 5px white;
        height: 100px;
    }
    .trending-product img {
        position: absolute;
        width: 80%;
        left: 0px;
    }
    .trending-product .caption {
        right: -115px;
        height: 105px;
    }

    .activites-product_type1 img {
      width: 400%;
      left: -420px;
  }

  .activites-product_type3 img {
    width: 190%;
}

.activites-product_type2 img {
    width: 200%;
}
#activites-list .caption {
  height: 40px!important;
  padding-left:10px!important;
}

.case {
    margin-top: 15px!important;
}

.trending-product i {
    margin-top: 25px;
    color: #0065fc;
}
.trending {
    width: 570px!important;
}

section#hebergement {
    min-width: 960px;
}

.product-result .caption h3 {
    margin-top: 2px;
}
